<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>
              Sick Days Manager</h3>
        </div>
        <div class="col-md-12">
          <pre>{{searchForm.value | json}}</pre>
            <form  [formGroup]="searchForm" novalidate class="form" (ngSubmit)="onSubmit()" autocomplete="false">
                <div class="form-group row">
                  <label for="inputYear" class="col-sm-2 col-form-label">A&ntilde;o</label>
                  <div class="col-sm-10 col-md-4 col-lg-4">
                    <select id="inputYear" class="form-control" formControlName="year" (change)="onChangeYear($event)">
                        <option  [ngValue]="null">--- Seleccionar ---</option>
                        <option *ngFor="let year of listNextYears" [ngValue]="year">{{year}}</option>
                      </select>
                  </div>
                </div>
            </form>
        </div>
        <ng-container>
          <!-- <app-add-calendar></app-add-calendar> -->
        </ng-container>
        <ng-container *ngIf="showCardCalendar">
          <div class="col-md-4">
            {{datesJunuary | json}}
            <app-calendar-multiple-days [date]="datesJunuary" [nameMonth]="'Enero'" [yearSelected]="f.year.value" [minDate]="minDate" [maxDate]="maxDate"></app-calendar-multiple-days>
          </div>
          <div class="col-md-4">
            <app-calendar-multiple-days [date]="datesFebruary" [nameMonth]="'Febrero'" [yearSelected]="f.year.value" [minDate]="minDate" [maxDate]="maxDate"></app-calendar-multiple-days>
          </div>
          <div class="col-md-4">
            <app-calendar-multiple-days [date]="datesMarch" [nameMonth]="'Marzo'" [yearSelected]="f.year.value" [minDate]="minDate" [maxDate]="maxDate"></app-calendar-multiple-days>
          </div>
          <div class="col-md-4">
            <!-- <app-calendar-multiple-days [date]="datesApril" [nameMonth]="'Abril'"></app-calendar-multiple-days> -->
          </div>
        </ng-container>

    </div>
</div>
<ngx-spinner bdColor = "rgba(0,0,0,0.81)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
