<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>Genear PDF</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <button class="btn btn-dark" (click)="drawHeart()">
          Dibujar panda
        </button>
        <button class="btn btn-dark ml-2" (click)="generatePdf()">
          pdf2
         </button>
    </div>
  </div>
</div>

<section class="container bg-dark">


</section>
