/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// .p-datepicker .p-datepicker-header  {
//     display: none !important;
// }}

.container ::ng-deep p-calendar .ui-datepicker table td {
    padding: 1px !important;
  }
  .container ::ng-deep p-calendar .ui-datepicker .ui-timepicker {
    padding: 2px 0 0 0 !important;
  }
  .container ::ng-deep p-calendar .ui-datepicker {
    padding: 0.857em 0.857em 0 0.857em !important;
  }

  .p-datepicker table td > span.p-highlight {
    color: #fefeff !important;
    background: #ab004f !important;
}
.p-datepicker table td > span {
    width: 1.5rem !important;
    height: 1.5rem !important;
}
